/* css soft reset */


/* '.'(dot) means class */


/* the element without simbol means the tag itself */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* global variables */

:root {
    --primary-purple: #6D288A;
    --secondary-purple: #40065A;
    --third-purple: #4A308F;
    --primary-golden: #D1B934;
}

body {
    background: var(--secondary-purple);
    background-size: auto auto;
    background-image: linear-gradient(to bottom right, var(--primary-purple), var(--secondary-purple));
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: var(--primary-purple);
}

header,
section {
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    margin-left: auto;
    margin-right: auto;
}

.title-separator {
    margin: 16px 30%;
    border: 0.5px solid var(--primary-golden);
}


/* Nav bar */

.menu {
    background-color: white;
    /* height: 44px; */
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 1;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu li {
    list-style: none;
}

.menu a {
    padding: 16px 32px;
    display: block;
}

.menu a:hover {
    color: var(--secondary-purple);
    background-color: whitesmoke;
}

.menu a:active {
    color: var(--secondary-purple);
}

.header-titles,
.section-title,
figcaption {
    color: whitesmoke;
    text-align: center;
}

.header-titles {
    animation: linear 0.5s titleAnimation;
}

.site-title {
    font-weight: 700;
}

.site-subtitle {
    font-weight: 100;
}

.header-titles span {
    color: var(--primary-golden);
}

.section-title {
    padding-top: 65px;
}

@keyframes titleAnimation {
    from {
        transform: scale(0.2) translateZ(-50vh);
        opacity: 0;
    }
    to {
        transform: scale(1) translateY(0);
        opacity: 1;
    }
}

.site-subtitle,
.portfolio h2,
figcaption {
    font-style: italic;
}


/* About section */

.img-about {
    width: 300px;
    height: 300px;
    margin: 1.5em;
}

.section-about p {
    text-indent: 0.5em;
    color: white;
    margin: 16px;
}

.section-about .img-about {
    border-radius: 50%;
}

.section-about .avatar {
    float: left;
}

.word-carousel div {
    overflow: hidden;
    position: relative;
    float: inline-start;
    height: 65px;
    padding-top: 0px;
    margin-top: -5px;
}

.word-carousel li {
    padding: 0 10px;
    height: 40px;
    margin-bottom: 40px;
    display: block;
    color: var(--primary-golden);
}

.flip2 {
    animation: flip2 4s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}

@keyframes flip2 {
    0% {
        margin-top: -180px;
    }
    5% {
        margin-top: -90px;
    }
    50% {
        margin-top: -90px;
    }
    55% {
        margin-top: 0px;
    }
    99.99% {
        margin-top: 0px;
    }
    100% {
        margin-top: -180px;
    }
}


/* Portfolio section */

.projects .grid {
    display: grid;
    gap: 2em;
    text-align: center;
    justify-content: center;
    height: fit-content;
}

.img-project {
    padding: 1.5em;
    margin: 1.5m;
    height: 256px;
    width: 256px;
    transition: transform 0.3s;
    object-fit: cover;
}

.img-project:hover {
    transform: scale(1.3);
}

.div-projects {
    background-color: var(--primary-golden);
    border-radius: 16px;
}


/* Contact Section */

.contact {
    text-align: center;
    height: 50vh;
}

.contact a {
    font-size: 4em;
    color: whitesmoke;
    margin: 16px;
    transition: text-shadow 0.3s;
}

.contact a:hover,
.contact a:active {
    text-shadow: var(--primary-golden) 2px 2px;
}


/* Footer */

.footer .footer-paragraph {
    text-align: right;
    color: grey;
    margin-right: 30px;
    margin-bottom: 30px;
}

.footer a {
    color: var(--primary-golden);
}

.footer a:hover {
    color: whitesmoke;
}

@media (min-width: 560px) {
    .projects .grid {
        grid-template-columns: 256px 256px;
    }
}

@media (min-width: 820px) {
    .projects .grid {
        grid-template-columns: 384px 384px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
    body {
        font-size: 18px;
    }
}