/* the element without simbol means the tag itself */
body {
	background: #6E288B;
	background-image: url("http://www.vanessametonini.com.br/imersaocss/a1/img/fundo.jpg");
	background-size: auto 100vh;
	font-family: Arial;
}

/* '.'(dot) means class */
.menu {
	background-color: #fff;
}
.menu ul {
	display: flex;
	justify-content: space-around;
}
.menu li {
	list-style: none;
}

/* adjust underline for all links */
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

.site-title, 
.site-subtitle {
	color: whitesmoke;
	text-align: center;
}

.site-subtitle {
	font-style: italic;
}